# Ignore node_modules everywhere
**/node_modules

# Ignore environment files everywhere
**/.env
**/.env.*

# Ignore system and build files
.DS_Store
Thumbs.db

# Ignore logs
**/*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build artifacts
frontend/build
backend/dist
backend/.cache

# Ignore IDE configs
.vscode/
.idea/
